@using WebClient.Views.Components.SelectInput
@using WebClient.Views.Components.LangugeIcons

<div class="language-select">
    <SelectInput
        Value="@SelectedLanguageVersion.Language"
        ValueExpression="@(() => SelectedLanguageVersion.Language)"
        ValueChanged="@OnLanguageChanged"
        TItem="@string"
        Items="@LanguageCodes">    
        <RenderItem Context="language">
            @if (language.Item != null)
            {
                <LanguageIcon Language="@LanguagesDictionary[@language.Item].Name" Size="@(15)" /> @LanguagesDictionary[@language.Item].Name
            }
            else
            {
                <span>Select Language</span>
            }
        </RenderItem>
    </SelectInput>
    @if (UseVersion)
    {
        <SelectInput
            Value="@SelectedLanguageVersion.Version"
            ValueExpression="@(() => SelectedLanguageVersion.Version)"
            ValueChanged="@OnVersionChanged"
            TItem="@string"
            Items="@Versions">
            <RenderItem Context="version">
                @version.Item
            </RenderItem>
        </SelectInput>
    }
</div>
